aside.aside
	div.aside__inner
		section.asideFilter
			div.asideFilter__header Роль
			div.asideFilter__form
				input(type="radio" name="role" value="Пользователь" id="radio-user")
				label(for="radio-user") Пользователь
				input(type="radio" name="role" value="Владелец" id="radio-owner")
				label(for="radio-owner") Владелец
				input(type="radio" name="role" value="Пользователь-владелец" id="radio-user-owner")
				label(for="radio-user-owner") Пользователь-владелец
		section.asideFilter
			div.asideFilter__header Тип
			div.asideFilter__form
				input(type="radio" name="type" value="Монитор" id="monitor")
				label(for="monitor") Монитор
				input(type="radio" name="type" value="Компьютер" id="computer")
				label(for="computer") Компьютер
				input(type="radio" name="type" value="Телефон" id="phone")
				label(for="phone") Телефон
				input(type="radio" name="type" value="Тонкий клиент" id="thin")
				label(for="thin") Тонкий клиент
				input(type="radio" name="type" value="Ноутбук" id="laptop")
				label(for="laptop") Ноутбук
