div.card
	div.card__role.-owner Я пользователь-владелец
	h2.h2
		img(src="images/computer.svg")
		span Монитор LG 24" 24MB37PM-B, IPS, FullHD, Black
	div.card__info.info
		div.info__item
			span.info__title Серийный номер
			span.info__text 3CQ212089W
		div.info__item
			span.info__title Код ЕНС
			span.info__text 478.451.000044
		div.info__item
			span.info__title Код СА
			span.info__text 052641
		div.info__item
			span.info__title Инвентарный номер
			span.info__text 052641
	div.card__lastActivity.lastActivity
		div.lastActivity__item
			span.lastActivity__title Последняя активность
			span.lastActivity__text 08.08.2012
		div.lastActivity__item
			span.lastActivity__title Устройство у сотрудника
			span.lastActivity__text.colorBlue Антонов В. И.