html
	head
		title MTS TZ
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		link(rel="stylesheet" href="css/styles.css")
	body
		include includes/top
		div.middleWrapper
			include includes/aside
			include includes/main
	script(type="text/javascript" src="js/main.js")