// Colors

$white: #FFFFFF;
$black: #000000;
$green: #26CD58;
$blue-dark: #001424;
$blue: #0077DB;
$red: #E30611;
$gray-100: #F2F3F7;
$gray-300: #E2E5EB;
$gray-500: #BBC1C7;
$gray-700: #9198A0;
$gray-900: #6E7782;

// Sizes

$width-page: 1272px;
$width-card: 472px;
$width-aside: 232px;
$width-margin: 24px;
$height-top-wrapper: 120px;
$height-card: 205px;
$height-input: 44px;